<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Scan Me
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button color="primary" (click)="scanBar()">
    Scan Code
  </ion-button>
  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>
  <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>
  <ion-button color="success" (click)="generateBar()">
    Create QR
  </ion-button>
</ion-content>